/**
 * @file
 * Collapsible details.
 */

:root {
  --details-border-width: 1px;
  --details-summary-transition: background-color 0.12s ease-in-out;
}

details.details {
  border-radius: var(--border-size-2);
  border: var(--details-border-width) solid hsl(var(--gray-1));
  box-shadow: 0 1px 4px hsl(var(--gray-0));
  color: inherit;
  display: block;
  margin-block: var(--size-1);
}

/* Details summary styles */
.details__summary {
  background-color: hsl(var(--gray-2));
  color: inherit;
  cursor: pointer;
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-700);
  hyphens: auto;
  line-height: var(--font-lineheight-1);
  list-style: none;
  padding-block: var(--size-1);
  padding-inline-end: var(--size-1);
  padding-inline-start: var(--size-4);
  position: relative;
  transition: var(--details-summary-transition);
  word-wrap: break-word;

  /* Arrow icon */
  &::before {
    border-block-start: solid 2px currentcolor;
    border-inline-end: solid 2px currentcolor;
    content: '';
    display: block;
    height: 10px;
    inset-block-start: 50%;
    inset-inline-start: var(--size-105);
    position: absolute;
    transform: translateY(-50%) rotate(45deg);
    width: 10px;
  }

  /* Pseudo-selector to manage focus styles */
  &::after {
    border-radius: var(--border-size-2);
    box-shadow: inset 0 0 0 2px hsl(var(--blue-4));
    content: '';
    inset: calc(var(--details-border-width) * -1);
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }

  /* Hide the marker */
  &::-webkit-details-marker {
    display: none;
  }

  /* Disable default outline for summary, since we have own implementation */
  &:focus {
    outline: solid 2px transparent;
    outline-offset: -4px;
  }

  /* Details summary, hover state */
  &:hover {
    background-color: hsl(var(--gray-1));
  }

  /* Details summary, focus and active states */
  &:focus::after,
  &:active::after {
    opacity: 1;
  }
}

/* Rotate arrow icon of the details summary, when details expanded */
.details[open] > .details__summary::before,
.details[open] > .details__summary .details-title::before {
  margin-block-start: -2px;
  transform: translateY(-50%) rotate(135deg);
}

/* Details content wrapper */
.details__wrapper {
  margin: var(--size-1);

  .details {
    border-color: hsl(var(--gray-5));
  }
}

/* Error */
.details__error {
  color: hsl(var(--red-9));
  font-size: var(--font-size-0);
  line-height: var(--font-lineheight-2);
  margin-block-end: var(--size-1);
}

/* Description */
.details__description {
  color: hsl(var(--gray-8));
  font-size: var(--font-size-0);
  line-height: var(--font-lineheight-2);
  margin-block-end: var(--size-1);
}

/* Details Dropbutton */
.details--dropbutton {
  width: 35em;

  .details__summary {
    &::before {
      inset-inline-end: var(--size-105);
      inset-inline-start: auto;
    }
  }
}
