/**
 * @file
 * Progress bar specific styles.
 */

.progress__track {
  border-radius: var(--border-size-2);
  border: 1px solid hsl(var(--blue-9));
  height: 18px;
  overflow: hidden;
}

.progress__bar {
  background-color: hsl(var(--blue-9));
  height: 18px;
}
