/*
 * @file
 * Provides the layout styles for four-column layout section.
 */

.layout--fourcol-section {
  display: flex;
  flex-wrap: wrap;

  & > .layout__region {
    flex: 1 0 100%;
    margin-block-end: 1.125rem;

    @media (--md) {
      flex-basis: calc(50% - 1.125rem);
      flex-grow: 0;
      flex-shrink: 0;
      margin-block-end: 0;
    }
  }

  /* Two column layout. */
  @media (--md) {
    & > .layout__region--first,
    & > .layout__region--second {
      margin-block-end: 2.25rem;
    }

    & > .layout__region--first,
    & > .layout__region--third {
      margin-inline-end: 1.125rem;
    }

    & > .layout__region--second,
    & > .layout__region--fourth {
      margin-inline-start: 1.125rem;
    }
  }

  /* Four column layout. */
  @media (--lg) {
    & > .layout__region {
      flex-basis: calc(25% - 1.6875rem);
    }

    & > .layout__region--first,
    & > .layout__region--second {
      margin-block-end: 0;
    }

    & > .layout__region--first {
      margin-inline-end: 1.125rem;
    }

    & > .layout__region--second,
    & > .layout__region--third {
      margin-inline: 1.125rem;
    }

    & > .layout__region--fourth {
      margin-inline-start: 1.125rem;
    }
  }
}
