/**
 * @file
 * Skip link styles.
 */

.skip-link {
  background-color: hsl(var(--gray-9));
  color: hsl(0, 0%, 100%);
  display: block;
  outline: none;
  padding-block: var(--size-1);
  padding-inline: var(--size-2);
  right: 0;
  text-decoration: none;
  width: 100%;

  &:hover {
    color: hsl(0, 0%, 100%);
    text-decoration: underline;
  }

  &::after {
    content: '\0020	➔';
  }
}

.skip-link.focusable:focus {
  height: 40px;
  outline: none;
  position: absolute !important;
  width: 100%;
  z-index: 503;
}
