/**
 * @file
 * Header Mobile Nav.
 */

.mobile-nav {
  margin-inline-start: auto;

  @media (--xl) {
    display: none;
  }
}

.mobile-nav__button {
  align-items: center;
  align-self: center;
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  height: var(--size-4);
  margin-inline-end: -6px;
  margin-inline-start: auto;
  padding-block: 0;
  padding-inline: 6px;
  position: relative;
  width: var(--size-4);
  z-index: 110;

  &:focus {
    outline: solid 2px hsl(var(--blue-9));
  }

  &:active {
    color: inherit;
  }

  &[aria-expanded='true'] {
    .mobile-nav-button__icon {
      background-color: transparent;

      &::before {
        inset-block-start: 0;
        transform: rotate(-45deg);
      }

      &::after {
        inset-block-start: 0;
        transform: rotate(45deg);
      }
    }
  }

  @media (--sm) {
    display: inline-flex;
    padding-inline-start: var(--size-2);
    width: auto;
  }
}

.mobile-nav__label {
  clip: rect(1px, 1px, 1px, 1px);
  display: block;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  word-wrap: normal;

  @media (--sm) {
    clip: auto;
    font-size: 14px;
    font-weight: 600;
    height: auto;
    letter-spacing: 0.05em;
    margin-inline-end: 12px;
    overflow: visible;
    position: static;
    width: auto;
  }
}

.mobile-nav__icon {
  background-color: hsl(var(--blue-5));
  display: block;
  height: 3px;
  position: relative;
  width: var(--size-4);

  &::before {
    background-color: hsl(var(--blue-5));
    content: '';
    height: 3px;
    inset-block-start: -8px;
    inset-inline-start: 0;
    position: absolute;
    transition: all 0.2s;
    width: 100%;
  }

  &::after {
    background-color: hsl(var(--blue-5));
    content: '';
    height: 3px;
    inset-block: auto -8px;
    inset-inline-start: 0;
    position: absolute;
    transition: all 0.2s;
    width: 100%;
  }
}
