<div class="mobile-nav" data-drupal-selector="mobile-nav">
  <button class="mobile-nav__button" data-drupal-selector="mobile-nav__button" aria-label="Main Menu" aria-controls="header-nav" aria-expanded="false">
    <span class="mobile-nav__label">Menu</span>
    <span class="mobile-nav__icon"></span>
  </button>
</div>
