/**
 * @file
 * Node specific styles.
 */

.node__meta {
  align-items: center;
  color: hsl(var(--gray-7));
  display: flex;
  font-size: 14px;
  line-height: var(--size-2);
  margin-block-end: var(--size-2);

  & a {
    font-weight: bold;
  }

  @media (--sm) {
    margin-block-end: var(--size-4);
  }
}

.node__author-image img {
  border-radius: 50%;
  height: var(--size-5);
  margin-inline-end: var(--size-1);
  object-fit: cover;
  width: var(--size-5);
}

.node__title {
  & a {
    background-color: transparent;
    background-image: linear-gradient(hsl(var(--blue-5)), hsl(var(--blue-5))); /* Two values are needed for IE11 support. */
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 0 3px;
    color: hsl(var(--gray-9));
    padding-block-end: 3px;
    text-decoration: none;
    transition: background-size 0.2s, color 0.2s;

    &:hover,
    &:focus {
      color: hsl(var(--blue-9));
    }
  }
}

.node__content {
  padding-block-end: var(--size-3);

  @media (--lg) {
    padding-block-end: var(--size-6);
  }
}

.node--unpublished {
  background-color: hsl(0, 100%, 98%);
}
