<div class="l-page">
  {% block header %}
    {{ header }}
  {% endblock %}

  <main id="main-content" tabindex="-1" role="main" class="l-main">
    {% block main %}
      {{ main }}
    {% endblock %}
  </main>

  {% block footer %}
    {{ footer }}
  {% endblock %}

  <div class="overlay" data-drupal-selector="overlay"></div>
</div>
