/**
 * @file
 * Button that expands second level nav when clicked.
 */

.primary-nav__button-toggle {
  appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  height: var(--size-4);
  margin-block-start: var(--size-1); /* Visually align button with menu link text. */
  overflow: hidden;
  padding-block: 0;
  padding-inline: 0;
  position: relative;
  text-indent: -999px;
  width: var(--size-4);

  &:focus {
    outline: auto 2px hsl(var(--blue-5));
    outline-offset: 2px;
  }

  & .icon--menu-toggle {
    border-radius: 2px;
    height: 16px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s;
    width: 16px;

    &::before,
    &::after {
      border-top: solid 3px hsl(var(--blue-5));
      content: '';
      height: 0;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: var(--size-2);
    }

    &::after {
      transition: opacity 0.2s;
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  &[aria-expanded='true'] .icon--menu-toggle::after {
    opacity: 0;
  }

  /* aria-hidden attribute is removed by JS. Button is non-functional  until JS is enabled. */
  &[aria-hidden='true'] {
    pointer-events: none;
  }
}

@media (--xl) {
  .primary-nav__button-toggle {
    align-self: stretch;
    flex-shrink: 0;
    height: auto;
    margin-block-start: 0;
    margin-inline-end: calc(var(--size-4) * -1);
    width: calc(var(--size-4) + 8px);

    &:focus {
      border: 0;
      outline: 0;

      & .icon--menu-toggle {
        border: solid 2px hsl(var(--blue-9));
      }
    }

    &:active {
      color: currentcolor;
    }

    &[aria-expanded='true'] .icon--menu-toggle::after {
      opacity: 0.8;
    }

    & .icon--menu-toggle {
      background-color: hsl(0, 0%, 100%);
      border-radius: 4px;
      inset-inline-start: 3px;
      transform: translateY(-50%);
      width: 18px;

      &::before {
        content: none;
      }

      &::after {
        background: transparent;
        border-bottom: solid 2px currentcolor;
        border-right: solid 2px currentcolor;
        border-top: none;
        content: '';
        height: 8px;
        left: 3px;
        opacity: 0.8;
        top: calc(50% - 2px);
        transform: translateY(-50%) rotate(45deg);
        width: 8px;
      }
    }
  }
}
