{{ attach_library('surface/search-narrow') }}

{% set classes = [
  'search-narrow',
  attributes ? attributes.class
]|join(' ')|trim %}

<div class="{{ classes }}" data-drupal-selector="search-narrow" id="search-narrow" role="search">
  {% block content %}
    <form action="/search/node" method="get" id="search-block-form" accept-charset="UTF-8" class="search-form">
      <div class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label">
        <label for="edit-keys" class="form-item__label visually-hidden">Search</label>
        <input title="Enter the terms you wish to search for." placeholder="Search by keyword or phrase." data-drupal-selector="edit-keys" type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128" class="form-search form-element form-element--type-search form-element--api-search">
      </div>
      <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
        <button class="button--primary search-form__submit button js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit" value="Search">
          <span class="icon--search"></span>
          <span class="visually-hidden">Search</span>
        </button>
      </div>
    </form>
  {% endblock %}
</div>
