/**
 * @file
 * User generated tables.
 */

.text-content table,
.views-table,
.draggable-table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  color: hsl(var(--gray-8));
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: var(--size-3);
  margin-block: var(--size-4);

  & caption {
    color: hsl(var(--gray-8));
    font-family: var(--font-serif);
    font-size: 14px;
    font-style: italic;
    line-height: var(--size-2);
    margin-block-end: var(--size-2);
    text-align: start;
  }

  & tr {
    &:last-child {
      & td {
        border-block-end: 0;
      }
    }
  }

  & td,
  & th {
    padding-block: var(--size-2);
    padding-inline-end: var(--size-2);
    padding-inline-start: 0;
    vertical-align: top;
  }

  & th {
    border-block-end: 2px solid hsl(var(--blue-5));
    color: hsl(var(--gray-9));
    font-family: var(--font-sans);
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: var(--size-2);
    margin-block: 0;
    margin-inline: 0;
    text-align: start;

    /**
    * Fixes for styles injected by CKEditor
    */
    &.text-align-left {
      text-align: start;
    }

    &.text-align-right {
      text-align: end;
    }

    &.text-align-center {
      text-align: center;
    }

    &.text-align-justify {
      text-align: justify;
    }
  }

  & td {
    border-block-end: 2px solid hsl(var(--gray-4));
    white-space: normal;
  }

  & th.checkbox,
  & td.checkbox {
    text-align: center;
  }
}

.draggable-table {
  width: 100%;
}

.draggable-table .form-item {
  margin-block-start: 0;
}

.tablesort {
  vertical-align: middle;
}

.sticky-header {
  border-block-end: 4px solid hsl(var(--blue-5));
  margin: 0;
  z-index: 0;
}

/* Properly align VBO checkboxes. */
.views-field-node-bulk-form .form-item {
  margin: 0;
}
