/**
 * @file
 * Wide image component.
 */

.wide-image {
  margin-block-start: var(--size-1);
  margin-block-end: var(--size-4);
  margin-inline: 0;

  @media (--md) {
    margin-block-end: 4.5rem;
    margin-inline-start: -7.1429vw;
    margin-block-start: 2.25rem;
    width: calc(100vw - 2.25rem);
  }

  @media (--lg) {
    margin-inline-start: calc(-7.1429vw - -1.0714px);
    width: calc(85.7143vw - 3.0536rem);
  }
}

/* Ensure that image doesn't overlap layout builder sections when editing layouts. */
.layout-builder .wide-image {
  margin-inline: 0;
  max-width: 100%;
}
