/**
 * @file
 * Grid system.
 */

.l-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-column-gap: var(--size-2);

  /* .l-grid classes nested 3 or more deep go full width. */
  & .l-grid .l-grid {
    display: block;
  }

  @media (--md) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-column-gap: var(--size-4);
  }
}

/* Narrow Grid */
.l-grid--narrow,
.l-grid--narrow > * {
  grid-column: 1 / 7;
  width: 100%;

  @media (--md) {
    grid-column: 1 / 13;
  }

  @media (--lg) {
    grid-column: 3 / 9;
  }
}

/* Medium Grid */
.l-grid--medium,
.l-grid--medium > * {
  grid-column: 1 / 7;
  width: 100%;

  @media (--md) {
    grid-column: 1 / 13;
  }

  @media (--lg) {
    grid-column: 3 / 11;
  }
}
