/**
 * @file
 * Toolbar.
 */

[dir='ltr'] body.gin--vertical-toolbar,
[dir='ltr'] body.gin--horizontal-toolbar,
[dir='ltr'] body.gin--classic-toolbar {
  padding-left: 0; /* purposely using shorthand */
}

.gin--horizontal-toolbar {
  .toolbar-oriented {
    .toolbar-bar {
      position: fixed;
    }
  }
}

.gin-secondary-toolbar--frontend {
  background: hsl(0, 0%, 100%);
  display: block;
  position: fixed;
  top: 39px;
  width: 100%;

  @media (min-width: 976px) {
    top: 0;
  }
}
