/**
 * @file
 * Text content styles.
*/

.text-content,
.cke_editable {
  color: hsl(var(--gray-8));
  font-family: var(--font-serif);
  font-size: var(--font-size-1);
  line-height: var(--font-lineheight-6);

  & a {
    color: hsl(var(--blue-8));
    overflow-wrap: break-word;
    text-decoration-color: hsl(var(--blue-8));
    text-decoration-thickness: 2px;

    @supports (box-shadow: none) {
      box-shadow: inset 0 -2px 0 0 hsl(var(--blue-5));
      text-decoration: none;
      transition: box-shadow 0.3s cubic-bezier(0.55, 0.085, 0, 0.99);

      &:hover {
        box-shadow: inset 0 -2em 0 0 hsl(var(--blue-2));
        color: hsl(var(--gray-9));
        text-decoration-color: hsl(var(--blue-2));
        text-decoration-style: underline;
      }
    }
  }

  & p {
    margin-block: var(--size-2);

    &:first-child {
      margin-block-start: 0;
    }

    &:last-child {
      margin-block-end: 0;
    }

    @media (--md) {
      margin-block: var(--size-4);
    }
  }

  & code {
    background-color: hsl(var(--gray-2));
  }

  & pre code {
    color: hsl(var(--gray-8));
    display: block;
    overflow: auto;
    padding-block: var(--size-2);
    padding-inline: var(--size-2);
  }

  & blockquote {
    font-family: var(--font-serif);
    font-size: var(--font-size-3);
    letter-spacing: -0.01em;
    line-height: var(--font-lineheight-4);
    margin-block: var(--size-4);
    margin-inline: 0;
    padding-inline-start: var(--size-4);
    position: relative;

    .l-grid--narrow & {
      @media (--md) {
        margin-block: 3.375rem;
        padding-inline-start: 0;
      }
    }

    &::before {
      color: hsl(var(--blue-4));
      content: '“';
      font-size: var(--font-size-11);
      inset-block-start: 0;
      inset-inline-start: 0;
      position: absolute;

      .l-grid--narrow & {
        @media (--md) {
          left: -7.1429vw;
        }

        @media (--lg) {
          left: calc(-7.1429vw - -1.0714px);
        }
      }
    }

    @media (--md) {
      font-size: var(--font-size-7);
      line-height: var(--font-lineheight-1);
    }

    @media (--lg) {
      font-size: var(--font-size-9);
      line-height: var(--font-lineheight-4);
    }
  }

  @media (--md) {
    font-size: var(--font-size-2);
    line-height: var(--font-lineheight-6);
  }
}
