/**
 * @file
 * Select input elements.
 */

:root {
  --form-element-select-icon: url('../images/chevron-down.svg');
}

select {
  appearance: none;
  background-color: hsl(0, 0%, 100%);
  background-image: var(--form-element-select-icon);
  background-position: right var(--size-2) center;
  background-repeat: no-repeat;
  border-radius: var(--radius-1);
  border: 1px solid hsl(var(--gray-5));
  color: hsl(var(--gray-9));
  font-family: inherit;
  font-size: inherit;
  height: var(--size-5);
  max-width: 100%;
  padding-block: 0;
  padding-inline-end: var(--size-6);
  padding-inline-start: var(--size-2);

  &:focus {
    border: solid 2px hsl(var(--blue-5));
    outline: solid 2px hsl(var(--blue-5));

    @supports (outline-style: double) {
      border-width: 1px;
      outline-width: 6px;
      outline-style: double;
      outline-offset: -1px;
    }
  }

  /* Hides default chevron within Internet Explorer. */
  &::-ms-expand {
    display: none;
  }

  &[disabled] {
    background-color: hsl(var(--gray-1));
    color: hsl(var(--gray-5));
  }

  &.error {
    border: solid 2px hsl(var(--red-9));

    &:focus {
      outline-color: hsl(var(--red-9));
    }
  }

  &[multiple] {
    background-image: none;
    height: auto;
    line-height: 1;
    padding: var(--size-1);

    & option {
      padding: var(--size-1);
    }
  }

  &.form-element--small {
    height: var(--size-5);
  }

  /* Necessary to show chevron in forced colors mode in modern browsers. */
  @media (forced-colors: active) {
    appearance: listbox;
    background-image: none;
    padding-inline-end: var(--size-2);

    @supports (appearance: revert) {
      appearance: revert;
    }
  }

  @media screen and (-ms-high-contrast: active) {
    padding-inline-end: 0;

    &::-ms-expand {
      display: block;
    }
  }
}
