/**
 * @file
 * Headings element styles.
 */

/* Remove top margin for adjacent subheadings. */
:where(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-sans);

  & + & {
    margin-block-start: 0;
  }
}

:where(h1) {
  color: hsl(var(--gray-9));
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--font-letterspacing-0);
  line-height: var(--font-lineheight-1);
  margin-block: var(--size-2);

  @media (--md) {
    font-size: var(--font-size-12);
    line-height: var(--font-lineheight-2);
    margin-block: var(--size-4);
  }
}

:where(h2) {
  color: hsl(var(--gray-9));
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-700);
  letter-spacing: var(--font-letterspacing-0);
  line-height: var(--font-lineheight-1);
  margin-block: var(--size-2);

  @media (--md) {
    font-size: var(--font-size-8);
    line-height: var(--font-lineheight-4);
    margin-block: var(--size-4);
  }
}
