:where(html) {
  --gray-0: 210 17% 98%;
  --gray-1: 210 17% 95%;
  --gray-2: 210 16% 93%;
  --gray-3: 210 14% 89%;
  --gray-4: 210 14% 83%;
  --gray-5: 210 11% 71%;
  --gray-6: 210 7% 56%;
  --gray-7: 210 9% 31%;
  --gray-8: 210 10% 23%;
  --gray-9: 210 11% 15%;
  --red-0: 0 100% 98%;
  --red-1: 0 100% 95%;
  --red-2: 0 100% 89%;
  --red-3: 0 100% 83%;
  --red-4: 0 100% 76%;
  --red-5: 0 100% 71%;
  --red-6: 0 94% 65%;
  --red-7: 0 86% 59%;
  --red-8: 0 74% 54%;
  --red-9: 0 65% 48%;
  --pink-0: 336 100% 97%;
  --pink-1: 336 100% 94%;
  --pink-2: 338 91% 87%;
  --pink-3: 339 90% 81%;
  --pink-4: 339 88% 74%;
  --pink-5: 339 82% 67%;
  --pink-6: 339 76% 59%;
  --pink-7: 339 67% 52%;
  --pink-8: 339 68% 45%;
  --pink-9: 339 69% 38%;
  --grape-0: 280 67% 96%;
  --grape-1: 287 77% 92%;
  --grape-2: 288 86% 86%;
  --grape-3: 289 85% 78%;
  --grape-4: 288 83% 71%;
  --grape-5: 288 75% 64%;
  --grape-6: 288 67% 58%;
  --grape-7: 288 56% 52%;
  --grape-8: 288 54% 46%;
  --grape-9: 288 54% 40%;
  --violet-0: 252 100% 97%;
  --violet-1: 257 100% 93%;
  --violet-2: 256 100% 87%;
  --violet-3: 255 94% 79%;
  --violet-4: 255 93% 72%;
  --violet-5: 255 91% 67%;
  --violet-6: 255 86% 63%;
  --violet-7: 255 78% 60%;
  --violet-8: 255 67% 55%;
  --violet-9: 255 53% 50%;
  --indigo-0: 223 100% 96%;
  --indigo-1: 225 100% 93%;
  --indigo-2: 228 100% 86%;
  --indigo-3: 228 100% 78%;
  --indigo-4: 228 96% 72%;
  --indigo-5: 228 94% 67%;
  --indigo-6: 228 89% 63%;
  --indigo-7: 228 81% 59%;
  --indigo-8: 228 69% 55%;
  --indigo-9: 230 57% 50%;
  --blue-0: 205 100% 95%;
  --blue-1: 206 100% 91%;
  --blue-2: 206 100% 82%;
  --blue-3: 206 96% 72%;
  --blue-4: 207 91% 64%;
  --blue-5: 207 86% 57%;
  --blue-6: 208 80% 52%;
  --blue-7: 208 77% 47%;
  --blue-8: 209 77% 43%;
  --blue-9: 209 75% 38%;
  --cyan-0: 185 81% 94%;
  --cyan-1: 185 84% 88%;
  --cyan-2: 186 77% 77%;
  --cyan-3: 187 74% 65%;
  --cyan-4: 187 69% 55%;
  --cyan-5: 188 72% 47%;
  --cyan-6: 187 80% 42%;
  --cyan-7: 188 83% 37%;
  --cyan-8: 189 85% 32%;
  --cyan-9: 189 85% 28%;
  --teal-0: 161 79% 95%;
  --teal-1: 160 85% 87%;
  --teal-2: 162 78% 77%;
  --teal-3: 162 72% 65%;
  --teal-4: 162 68% 54%;
  --teal-5: 162 73% 46%;
  --teal-6: 162 82% 40%;
  --teal-7: 162 87% 35%;
  --teal-8: 162 88% 30%;
  --teal-9: 162 88% 26%;
  --green-0: 131 67% 95%;
  --green-1: 128 76% 90%;
  --green-2: 128 71% 82%;
  --green-3: 129 68% 73%;
  --green-4: 130 61% 64%;
  --green-5: 130 57% 56%;
  --green-6: 131 50% 50%;
  --green-7: 131 53% 46%;
  --green-8: 131 54% 40%;
  --green-9: 132 52% 35%;
  --lime-0: 79 81% 94%;
  --lime-1: 80 83% 88%;
  --lime-2: 81 81% 80%;
  --lime-3: 82 75% 69%;
  --lime-4: 83 73% 59%;
  --lime-5: 84 69% 51%;
  --lime-6: 85 74% 45%;
  --lime-7: 85 79% 40%;
  --lime-8: 86 84% 36%;
  --lime-9: 85 84% 32%;
  --yellow-0: 50 100% 93%;
  --yellow-1: 49 100% 87%;
  --yellow-2: 49 100% 80%;
  --yellow-3: 48 100% 70%;
  --yellow-4: 47 100% 62%;
  --yellow-5: 45 97% 54%;
  --yellow-6: 42 96% 50%;
  --yellow-7: 39 100% 48%;
  --yellow-8: 35 100% 47%;
  --yellow-9: 31 100% 45%;
  --orange-0: 34 100% 95%;
  --orange-1: 33 100% 90%;
  --orange-2: 33 100% 83%;
  --orange-3: 32 100% 74%;
  --orange-4: 31 100% 65%;
  --orange-5: 29 100% 58%;
  --orange-6: 27 98% 54%;
  --orange-7: 24 94% 50%;
  --orange-8: 21 90% 48%;
  --orange-9: 17 87% 45%;
}
