{{ attach_library('surface/search-wide') }}

{% set classes = [
  'search-wide',
  attributes ? attributes.class
]|join(' ')|trim %}

{% set content_classes = [
  'search-wide__wrapper',
  content_attributes ? content_attributes.class
]|join(' ')|trim %}

<div class="{{ classes }}" data-drupal-selector="search-wide" id="search-wide" role="search">
  <button class="search-wide__button" aria-label="Search Form" data-drupal-selector="search-wide-button" data-once="search-wide" aria-expanded="false">
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23">
      <path fill="currentColor" d="M21.7,21.3l-4.4-4.4C19,15.1,20,12.7,20,10c0-5.5-4.5-10-10-10S0,4.5,0,10s4.5,10,10,10c2.1,0,4.1-0.7,5.8-1.8l4.5,4.5c0.4,0.4,1,0.4,1.4,0S22.1,21.7,21.7,21.3z M10,18c-4.4,0-8-3.6-8-8s3.6-8,8-8s8,3.6,8,8S14.4,18,10,18z"></path>
    </svg>
    <span class="search-wide__button-close"></span>
  </button>

  <div class="{{ content_classes }}" data-drupal-selector="search-wide-wrapper">
    <div class="search-wide__container l-container">
      <div class="search-wide__grid">
        {% block content %}
          {% include '@components/search-block-form/search-block-form.twig' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
