/**
 * @file
 * Header Search Wide Block.
 */

.search-wide__wrapper {
  background: hsl(var(--gray-9));
  display: none;
  height: var(--size-18);
  inset-block-start: 100%;
  inset-inline-start: 0;
  margin-block: 0;
  margin-inline: 0;
  max-height: 0;
  overflow: hidden;
  padding-block: 0;
  padding-inline: 0;
  position: absolute;
  transition: all 0.2s;
  visibility: hidden;
  width: 100%;
  z-index: 1;

  @media (--xl) {
    display: block;
  }

  &.is-active {
    max-height: var(--size-18);
    visibility: visible;
  }
}

.search-wide__container {
  .container-inline & {
    display: block;
  }
}

.search-wide__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: var(--size-4);

  .container-inline & {
    display: grid;
  }
}

.search-wide__button {
  appearance: none;
  background: transparent;
  border: 0;
  color: hsl(var(--gray-9));
  cursor: pointer;
  display: none;
  height: var(--size-13);
  position: relative;
  width: var(--size-6);

  @media (--xl) {
    display: block;
  }

  &:focus {
    outline: 0;
    position: relative;

    &::after {
      border-radius: 4px;
      border: solid 2px hsl(var(--blue-5));
      content: '';
      height: var(--size-6);
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
    }
  }

  &[aria-expanded='true'] {
    background: hsl(var(--gray-9));

    &:focus::after {
      border-color: hsl(0, 0%, 100%);
    }

    & .search-wide__button-close {
      &::before,
      &::after {
        border-block-start: solid 2px hsl(0, 0%, 100%);
        content: '';
        height: 0;
        left: 50%;
        position: absolute;
        top: 50%;
        width: var(--size-3);
      }

      &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }

    & svg {
      display: none;
    }
  }

  & svg {
    margin-inline: auto;
  }

  @media (forced-colors: active) {
    background: ButtonFace;

    & path {
      fill: ButtonText;
    }
  }
}
