/**
 * @file
 * Presentational styles for Drupal dialog buttons.
 */

.ui-button {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  line-height: var(--font-lineheight-2);
  margin-block: var(--size-2);
  margin-inline-end: var(--size-2);
  margin-inline-start: 0;
  padding-block: var(--size-2);
  padding-inline: var(--size-3);
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
  box-sizing: border-box;
  text-indent: -9999px;
  white-space: nowrap;
  width: 2em;
}

/* no icon support for input elements */
input.ui-button.ui-button-icon-only {
  text-indent: 0;
}

/* button icon element(s) */
.ui-button-icon-only .ui-icon {
  position: absolute;
  top: 0;
}

.ui-button.ui-icon-notext .ui-icon {
  height: 2.1em;
  padding: 0;
  text-indent: -9999px;
  white-space: nowrap;
  width: 2.1em;
}

input.ui-button.ui-icon-notext .ui-icon {
  height: auto;
  padding: 0.4em 1em;
  text-indent: 0;
  white-space: normal;
  width: auto;
}
