/**
 * @file
 * Checkbox and radio input elements.
 */

input[type='checkbox'],
input[type='radio'] {
  height: var(--size-3);
  margin: 0;
  width: var(--size-3);

  &:focus-visible {
    outline-color: var(--accent-color);
    outline-style: auto;
    outline-width: var(--size-xs);
  }

  &.error {
    accent-color: red;
  }
}

.form-type--boolean:not(.layout-select__item) {
  display: grid;
  grid-template-columns: var(--size-3) auto;
  gap: var(--size-1);
  margin-block: var(--size-2);
}
