/**
 * @file
 * Media library styling.
 */

/**
 * Negative margins compensate for modal dialog padding and compensate for
 * positioning that would otherwise hide the active tab indicator on the left.
 */
.media-library-wrapper {
  display: flex;
  margin: -1rem -1.5rem -1rem -1rem;

  .messages-list,
  .messages {
    margin-bottom: var(--size-3);
    margin-top: 0;
  }

  .views-display-link {
    color: hsl(0, 0%, 20%);
    font-size: 15px;
    line-height: 16px;
    margin: 0;
    padding-left: 22px;

    &.is-active {
      color: hsl(var(--blue-9));
      font-weight: bold;
    }
  }

  .views-display-link-widget {
    margin-right: 15px;
    background-image: url('../images/grid.svg');
    background-repeat: no-repeat;
    background-position: left 0;
  }

  .views-display-link-widget_table {
    background-image: url('../images/table.svg');
    background-repeat: no-repeat;
    background-position: left 0;
  }
}

.media-library-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  .view-header {
    align-self: flex-end;
    margin: 1em 0;
    text-align: right;
  }

  .view-filters,
  .view-content {
    flex: 0 0 100%;
    margin-block-end: 0;
  }

  .form--inline {
    display: flex;
    flex-wrap: wrap;
  }
}

.media-library-menu {
  color: hsl(230, 8%, 15%);
  display: block;
  list-style: none;
  margin: 0;
  padding-top: 0.5rem;
  position: relative;
  width: 20em;
}

.media-library-menu__item {
  margin: -1rem -1px -0.5rem -0.5rem;
  overflow: hidden;
  padding: 0.5rem 0;

  &::before {
    border-top: 1px solid hsl(230, 7%, 84%);
    content: '';
    display: block;
    margin-top: -1px;
    width: 100%;
    z-index: 0;
  }
}

.media-library-menu__link {
  border-radius: 2px 0 0 2px;
  border-width: 1px 0 1px 4px;
  border: 1px solid transparent;
  color: hsl(230, 8%, 15%);
  display: block;
  hyphens: auto;
  margin-top: -1px;
  padding: 0.75rem 0.75rem 0.75rem calc(1.5rem - 0.25rem);
  position: relative;
  text-decoration: none;
  word-wrap: break-word;

  @media screen and (-ms-high-contrast: active) {
    border-color: transparent;
  }

  &:focus {
    box-shadow: none;
    text-decoration: none;
    z-index: 3; /* Focus state should be on the highest level to make the focus effect be fully visible. This also means that it should have bigger z-index than the selected link. */

    &::after {
      border-radius: 2px;
      border: 3px solid hsl(151, 63%, 40%);
      bottom: 0;
      content: '';
      left: 0;
      margin: -1px -0.25rem;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &:hover {
    /* These borders are necessary to replace the dividing lines while in the hover state. */
    background: hsl(222, 100%, 98%);
    border-bottom: 1px solid hsl(230, 7%, 84%);
    border-top: 1px solid hsl(230, 7%, 84%);
    color: hsl(222, 100%, 40%);
    text-decoration: none;
  }

  &::before {
    background-clip: padding-box;
    bottom: -1px;
    content: '';
    left: -0.25rem;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: -1px;
    z-index: -1; /* This should be on a lower level than the menu-item separator lines. */
  }

  &.active {
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(230, 10%, 88%) transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 10%);
    color: hsl(222, 100%, 40%);
    z-index: 2; /* The selected menu link should be on a higher level than the white masking line that hides the gray separator. */

    &:hover {
      background-color: hsl(222, 100%, 98%);
      color: hsl(222, 100%, 35%);

      &::before {
        background: none;
      }
    }

    &::before {
      border-left: 4px solid hsl(222, 100%, 40%);
      border-radius: 2px 0 0 2px;
      z-index: 1; /* The blue active-tab indication should be on a higher level than the green focus border. */
    }
  }
}

.media-library-content {
  outline: none;
  padding: 1em;
  width: 100%;
}

.media-library-menu + .media-library-content {
  border-left: 1px solid hsl(230, 10%, 88%);
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 10%);
  z-index: 0;
}

/* Generic media add form styles. */
.media-library-add-form--without-input .form-item {
  margin-right: 1rem;
}

/**
 * Remove outline from added media list.
 *
 * The added media list receives focus after adding new media, but since it is
 * not an interactive element, it does not need an outline.
 */
.media-library-add-form__added-media {
  margin: 0;
  outline: none;
  padding: 0;

  .media-library-add-form__remove-button.button--extrasmall {
    margin: var(--size-1) 0;
    padding: calc(0.25rem - 1px) calc(0.75rem - 1px) calc(0.25rem - 1px) 1.5rem;
  }
}

.media-library-add-form__input-wrapper {
  background-color: hsl(0, 0%, 100%);
  border-radius: 2px;
  border: 1px solid hsl(230, 10%, 88%);
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 10%);
  padding: 0.5rem 1.5rem 1.5rem;
}

/* Style the media add upload form. */
.media-library-add-form--upload.media-library-add-form--without-input .form-item-upload {
  margin-bottom: 0;
}

.media-library-add-form--upload.media-library-add-form--with-input .form-managed-file__main,
.media-library-add-form--upload.media-library-add-form--with-input .form-managed-file.no-upload {
  display: block;
}

/* Adjust the focus border on this element so it is not too close to buttons. */
.media-library-add-form__added-media:focus {
  box-shadow: 0 0 0 4px hsl(0, 0%, 100%), 0 0 0 7px hsl(151, 63%, 40%);
}

.media-library-add-form .file-upload-help {
  margin: 8px 0 0;
}

/* Align remove buttons with Save button and compensate for IE scrollbar and focus padding. */
@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ui-dialog > .ui-dialog-content {
    padding-right: calc(0.75rem - 0.4375rem);
  }
}

/* Style the media add oEmbed form. */
.media-library-add-form--oembed .media-library-add-form__input-wrapper {
  align-items: center;
  display: flex;

  @media screen and (max-width: 37.5em) {
    display: block;
  }
}

.media-library-add-form--oembed.media-library-add-form--without-input .form-item-url {
  margin-bottom: 0;
}

.media-library-add-form-oembed-url {
  width: 100%;
}

/* Media add form selection styles. */
.media-library-add-form__selected-media {
  margin-top: 1em;
}

/* Change to padding to account for the negative margin for flex grid. */
.media-library-add-form__selected-media .details-wrapper {
  padding: 0 10px 1em;
}

.media-library-add-form__selected-media .media-library-item .field--name-thumbnail img {
  height: 100px;
}

/* Generic media library view styles. */
.media-library-select-all {
  flex-basis: 100%;
  margin: 10px 8px;
  width: 100%;

  input {
    margin-right: 10px;
  }
}

.media-library-views-form,
.media-library-selection,
.media-library-add-form__selected-media .details-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.media-library-views-form > .form-actions {
  flex-basis: 100%;
}

.media-library-views-form__header {
  flex-basis: 100%;
}

.media-library-views-form__header .form-item {
  margin-right: 8px;
}

.media-library-views-form__rows {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin: 0 -8px;
}

/**
 * Style the media library grid items.
 */
.media-library-item {
  position: relative;

  label {
    display: inline-block;
  }

  img {
    background-image: linear-gradient(-45deg, hsl(240, 5%, 84%) 25%, transparent 26%), linear-gradient(-45deg, hsl(240, 5%, 84%) 25%, transparent 26%), linear-gradient(135deg, hsl(240, 5%, 84%) 25%, transparent 26%), linear-gradient(135deg, hsl(240, 5%, 84%) 25%, transparent 26%);
    background-position: 0 0, 0.5rem 0.5rem, 0.5rem 0.5rem, 0 0;
  }

  .ajax-progress.ajax-progress.ajax-progress {
    background: hsl(0, 0%, 100%);
    border-radius: 3.5rem;
    border: 1px solid hsla(233, 11%, 86%, 80%);
    box-shadow: 0 0.25rem 0.625rem hsla(236, 17%, 16%, 10%);
    box-sizing: border-box;
    height: 3rem;
    left: 50%;
    margin: -1.5rem;
    position: absolute;
    top: 50%;
    width: 3rem; /* 56px */
    z-index: 1;
  }

  .ajax-progress__throbber {
    border-right: 3px dotted transparent;
    border: 3px solid hsl(222, 100%, 40%);
    height: 1.75rem;
    left: 50%;
    margin: -0.875rem;
    position: absolute;
    top: 50%;
    width: 1.75rem;
  }

  .ajax-progress__message {
    display: none;
  }
}

.media-library-item--grid {
  background: none;
  border-radius: 16px;
  box-sizing: border-box;
  justify-content: center;
  outline: none;
  padding: 8px;
  vertical-align: top;
  width: 50%;

  &:focus {
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 20%), 0 0 0 4px hsla(210, 100%, 49%, 60%);
    outline: none;

    .media-library-item__preview-wrapper {
      box-shadow: none;
      outline: 2px dotted transparent;
    }
  }

  .form-item {
    margin: 0.75em;
  }

  .field--name-thumbnail {
    background-color: hsl(0, 0%, 92%);
    overflow: hidden;
    text-align: center;

    img {
      height: 180px;
      object-fit: contain;
      object-position: center center;
    }
  }

  .form-boolean--type-checkbox:checked {
    background-color: hsl(222, 100%, 70%);
    border-color: hsl(222, 100%, 70%);
  }
}

/* The selected items in the add form should be shown a bit smaller. */
.media-library-add-form__selected-media .media-library-item--small {
  width: 33.3%;
}

.media-library-widget-modal {
  .ui-dialog-buttonpane {
    align-items: center;
    display: flex;

    .form-actions {
      flex: 1;
      order: 1;
    }
  }
}

.media-library-item__preview-wrapper {
  position: relative;
}

/**
 * By default, the dialog is too narrow to be usable.
 * @see Drupal.ckeditor.openDialog()
 */
.ui-dialog--narrow.media-library-widget-modal {
  max-width: 75%;
}

@media screen and (min-width: 45em) {
  .media-library-item--grid {
    width: 33.3%;
  }

  /* Change the width for the modal and widget since there is less space. */
  .media-library-widget-modal .media-library-item--grid,
  .media-library-selection .media-library-item--grid {
    width: 50%;
  }

  /* The selected items in the add form should be shown a bit smaller. */
  .media-library-add-form__selected-media .media-library-item--small {
    width: 25%;
  }
}

@media screen and (min-width: 60em) {
  .media-library-item--grid {
    width: 25%;
  }

  /* Change the width for the modal and widget since there is less space. */
  .media-library-widget-modal .media-library-item--grid,
  .media-library-selection .media-library-item--grid {
    width: 33.3%;
  }

  /* The selected items in the add form should be shown a bit smaller. */
  .media-library-add-form__selected-media .media-library-item--small {
    width: 16.6%;
  }
}

@media screen and (min-width: 77em) {
  .media-library-item--grid {
    width: 16.6%;
  }

  /* Change the width for the modal and widget since there is less space. */
  .media-library-widget-modal .media-library-item--grid,
  .media-library-selection .media-library-item--grid {
    width: 25%;
  }

  /* The selected items in the add form should be shown a bit smaller. */
  .media-library-add-form__selected-media .media-library-item--small {
    width: 16.6%;
  }
}

.media-library-item--grid.is-hover::before,
.media-library-item--grid.checked::before,
.media-library-item--grid.is-focus::before {
  border-radius: 3px;
  border-width: 3px;
  left: 5px;
  top: 5px;
}

.media-library-item--grid.is-hover::before,
.media-library-item--grid.checked.is-hover::before {
  border-color: hsl(222, 100%, 35%);
}

.media-library-item--grid.is-focus::before {
  border-color: hsl(222, 100%, 35%);
}

.media-library-item--grid.checked::before {
  border-color: hsl(151, 63%, 40%);
}

.media-library-item__click-to-select-checkbox {
  display: block;
  left: 16px;
  position: absolute;
  top: 16px;
  z-index: 1;

  input {
    height: 20px;
    width: 20px;
  }

  .form-item {
    margin: 0.5rem;
  }
}

.media-library-item__click-to-select-trigger {
  cursor: pointer;
  height: 100%;
  overflow: inherit;
}

.media-library-item__content {
  display: flex;
  height: 100%;

  article {
    width: 100%;
  }
}

/* Media library item table styles. */
.media-library-item--table img {
  height: auto;
  max-width: 100px;
}

/* Media library entity view display styles. */
.media-library-item__preview {
  border-radius: 1rem;
  border: 1px solid hsl(240, 5%, 84%);
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;

  .field {
    img {
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.field--widget-media-library-widget {
  .media-library-item__preview {
    cursor: move;

    img {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
  }

  .js-media-library-item:only-child {
    .media-library-item__preview {
      cursor: inherit;
    }
  }
}

.media-library-item__status {
  background: hsl(0, 0%, 40%);
  color: hsl(0, 0%, 89%);
  font-size: 12px;
  font-style: italic;
  left: 5px;
  padding: 5px 10px;
  pointer-events: none;
  position: absolute;
  top: 40px;
}

.media-library-item__attributes {
  background: none;
  bottom: 0;
  display: block;
  max-height: calc(100% - 50px);
  max-width: calc(100% - 10px);
  overflow: hidden;
  padding: 0.5rem;
  position: static;
}

.media-library-item__name {
  display: block;
  font-size: 14px;
  margin: 0;
  overflow: visible;
  text-overflow: initial;
  white-space: initial;
  word-break: break-all;
}

.media-library-item__attributes:hover .media-library-item__name,
.media-library-item--grid.is-focus .media-library-item__name,
.media-library-item--grid.checked .media-library-item__name {
  white-space: normal;
}

.media-library-item__type {
  color: hsl(0, 0%, 41%);
  font-size: 12px;
}

.media-library-item--disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Media library widget styles. */
.media-library-widget {
  position: relative;
}

.media-library-widget__toggle-weight.media-library-widget__toggle-weight {
  position: absolute;
  right: var(--size-2);
  text-decoration: none;
  top: var(--size-105);
}

/* Add negative margin for flex grid. */
.media-library-selection {
  margin: 1em -8px;
}

/**
 * Media library widget edit and delete button styles.
 *
 * We have to override the .button styles since buttons make heavy use of
 * background and border property changes.
 */
.media-library-item__edit,
.media-library-item__edit:hover,
.media-library-item__edit:focus,
.media-library-item__remove,
.media-library-item__remove:hover,
.media-library-item__remove:focus,
.media-library-item__remove.button,
.media-library-item__remove.button:first-child,
.media-library-item__remove.button:disabled,
.media-library-item__remove.button:disabled:active,
.media-library-item__remove.button:hover,
.media-library-item__remove.button:focus {
  background-size: 12px;
  color: transparent;
  font-size: 0;
  height: 24px;
  margin: 5px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 10px;
  transition: 0.2s border-color;
  width: 24px;
  z-index: 1;
}

.media-library-item__remove {
  right: 10px;
}

.media-library-item__edit {
  background-image: url('../images/pencil.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
  border: 1px solid hsl(230, 7%, 84%) !important;
  right: 40px;

  &:active {
    background-image: url('../images/pencil.svg');
  }
}

.media-library-item__remove,
.media-library-item__remove.button,
.media-library-item__remove.button:first-child,
.media-library-item__remove.button:disabled,
.media-library-item__remove.button:disabled:active,
.media-library-item__remove.button:hover,
.media-library-item__remove.button:focus {
  background-image: url('../images/ex.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
  border: 1px solid hsl(230, 7%, 84%) !important;
}

.media-library-item__remove:active,
.media-library-item__remove.button:active,
.media-library-item__remove.button:disabled:active {
  background-image: url('../images/ex.svg');
  border-color: hsl(222, 100%, 40%) !important;
}

/* Style the added media item container. */
.media-library-add-form__media {
  border-bottom: 1px solid hsl(0, 0%, 75%);
  display: flex;
  position: relative;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.media-library-add-form__preview {
  align-items: center;
  background: hsla(230, 33%, 96%, 40%);
  display: flex;
  justify-content: center;
  margin-right: 20px;
  width: 220px;
}

.media-library-add-form__fields {
  flex-grow: 1;
}

.media-library-add-form__remove-button {
  background-image: url('../images/ex.svg');
  background-position: var(--size-1) center;
  background-repeat: no-repeat;
  background-size: var(--size-105);
  position: absolute;
  right: 0;
}

.media-library-add-form__remove-button.button:disabled {
  background-image: url('../images/ex.svg');
}

/* @todo Remove in https://www.drupal.org/project/drupal/issues/3064914 */
.views-live-preview .media-library-view div.views-row + div.views-row {
  margin-top: 0;
}
