<div tabindex="-1" role="dialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front ui-dialog-buttons" aria-describedby="drupal-modal" aria-labelledby="ui-id-1">
	<div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix">
		<span id="ui-id-1" class="ui-dialog-title">Create new section</span>
		<button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close">
			<span class="ui-button-icon ui-icon ui-icon-closethick"></span>
			<span class="ui-button-icon-space"></span>Close
		</button>
	</div>
	<div id="drupal-modal" class="ui-front ui-dialog-content ui-widget-content">
    {% block content %}
      Modal content
    {% endblock %}

		<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
			<div class="ui-dialog-buttonset form-actions">
        <button type="button" class="button--primary button js-form-submit form-submit ui-button ui-corner-all ui-widget">Save</button>
        <button type="button" class="dialog-cancel button js-form-submit form-submit ui-button ui-corner-all ui-widget">Cancel</button>
      </div>
		</div>
	</div>
</div>
