/**
 * @file
 * Site logo styles.
 */

.site-logo {
  flex-shrink: 0;
  max-width: 100%;
  text-decoration: none;

  & img {
    max-width: 100%;
    width: 30px;

    @media (--md) {
      width: 40px;
    }

    @media (--lg) {
      width: 50px;
    }
  }
}
