/**
 * @file
 * Region styles.
 */

.region > * {
  margin-block-end: var(--size-2);

  @media (--md) {
    margin-block-end: var(--size-4);
  }

  @media (--lg) {
    margin-block-end: var(--size-6);
  }
}
