/**
 * @file
 * Button styles.
 */

.button {
  align-items: center;
  appearance: none;
  background-color: hsl(0, 0%, 100%);
  border-radius: var(--radius-1);
  border: var(--border-size-2) solid hsl(var(--blue-9));
  color: hsl(var(--blue-9));
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-700);
  height: var(--size-6);
  line-height: var(--font-lineheight-2);
  margin-block: var(--size-2);
  margin-inline-end: var(--size-2);
  margin-inline-start: 0;
  padding-block: var(--size-2);
  padding-inline: var(--size-3);
  text-align: center;
  text-decoration: none;

  &:visited {
    color: hsl(var(--blue-9));
  }

  &:hover,
  &:focus {
    border-color: hsl(var(--blue-5));
    color: hsl(var(--blue-5));
    text-decoration: none;
  }

  &:focus {
    box-shadow: var(--shadow-focusable);
    outline-offset: var(--outline-offset);
    outline: var(--outline-base);
  }

  &:active {
    border-color: hsl(var(--blue-9));
    box-shadow: none;
    color: hsl(var(--blue-9));
  }

  &:disabled,
  &.is-disabled {
    border-color: hsl(var(--gray-4));
    color: hsl(var(--gray-4));
    cursor: default;
  }

  .menu & {
    margin-block: 0;
    margin-inline: 0;
  }
}

/* Button small */
.button--small {
  height: var(--size-5);
  padding-block: calc((var(--size-5) - var(--font-lineheight-2)) / 2);
  padding-inline: var(--size-3);
}

/* Button primary */
.button--primary {
  background-color: hsl(var(--blue-9));
  color: hsl(0, 0%, 100%);

  &:visited {
    background-color: hsl(var(--blue-9));
    color: hsl(0, 0%, 100%);
  }

  &:hover,
  &:focus {
    background-color: hsl(var(--blue-5));
    color: hsl(0, 0%, 100%);
  }

  &:active {
    background-color: hsl(var(--blue-9));
    color: hsl(0, 0%, 100%);
  }

  &:disabled,
  &.is-disabled {
    background-color: hsl(var(--gray-4));
    color: hsl(0, 0%, 100%);
  }
}

/* Button icon back */
.button--icon-back {
  align-items: center;
  display: inline-flex;

  &::before {
    border-block-end: solid 2px currentcolor;
    border-inline-start: solid 2px currentcolor;
    content: '';
    display: block;
    height: 0.5em;
    margin-inline-end: 0.5em;
    transform: rotate(45deg);
    width: 0.5em;
  }
}

/* Button toggle */
.button--toggle {
  margin-block: 0;
  margin-inline: 0;

  &::after {
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.3em solid;
    content: '';
    display: inline-block;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    width: 0;
  }
}
