{{ attach_library('surface/site-branding') }}

{% set classes = [
  'site-branding',
  attributes ? attributes.class
]|join(' ')|trim %}

<div class="{{ classes }}" {{ attributes ? attributes|without('class', 'id') }}>
  <div class="site-branding__inner">
    {% block content %}
      {% if site_logo %}
        {% include '@components/site-logo/site-logo.twig' with {
          'site_logo': site_logo
        } %}
      {% endif %}
      {% if site_name %}
        {% include '@components/site-name/site-name.twig' with {
          'site_name': site_name
        } %}
      {% endif %}
    {% endblock %}
  </div>
</div>
