/**
 * @file
 * Site branding styles.
 */

.site-branding {
  align-items: flex-end;
  background-color: hsl(var(--blue-5));
  display: flex;
  flex-shrink: 1;
  margin-inline-start: calc(var(--size-2) * -1);
  padding-block: var(--size-2);
  padding-inline: var(--size-2);
  width: fit-content;
  z-index: 1000;

  @media (--lg) {
    height: var(--size-13);
    padding-inline: var(--size-4);
  }
}

.site-branding__inner {
  align-items: center;
  display: flex;
  gap: var(--size-105);
  justify-content: space-between;
}

.site-branding__name {
  color: hsl(0, 0%, 100%);
}
