<div class="ui-dialog">
  <input class="js-media-library-open-button media-library-open-button button js-form-submit form-submit" data-drupal-selector="edit-field-image-open-button" formnovalidate="formnovalidate" data-disable-refocus="true" type="submit" id="edit-field-image-open-button--P_mp5EuDAqk" name="field_image-media-library-open-button" value="Add media" data-once="drupal-ajax">
  <div class="ajax-progress ajax-progress-throbber">
    <div class="throbber">&nbsp;</div>
    <div class="message">Opening media library</div>
  </div>
</div>
