/**
 * @file
 * Visual styles for ajax-progress throbber.
 */

.ajax-progress {
  display: inline-block;
}

.ajax-progress-throbber {
  align-content: center;
  display: inline-flex;
  height: 1.125rem;
  line-height: 1.125rem;
  margin-block-end: 0;
  margin-block-start: -3px;
  margin-inline: var(--size-1);
  position: relative;
  vertical-align: middle;
  white-space: nowrap;

  .ui-dialog & {
    background: none;
    border: 0;
    box-shadow: none;
  }
}

.ajax-progress-throbber .throbber {
  border-color: hsl(var(--blue-5)) transparent hsl(var(--blue-5)) hsl(var(--blue-5));
  border-width: 2px;
  height: 1.125rem;
  width: 1.125rem;
}

.ajax-progress-throbber .message {
  display: inline-block;
  font-size: var(--font-size-0);
  font-weight: 400;
  padding-inline-start: var(--size-1);
}

.ajax-progress-fullscreen {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1e5px;
  border: 1px solid hsl(var(--gray-5));
  box-shadow: 0 0.25rem 0.625rem hsla(236, 17%, 16%, 10%);
  height: 3.5rem;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  margin: -1.75rem;
  position: fixed;
  width: 3.5rem;
  z-index: 1000;

  &::before {
    border-width: 3px;
    content: '';
    height: 1.75rem;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    margin: -0.875rem;
    position: absolute;
    width: 1.75rem;
  }
}

.ajax-progress-throbber .throbber,
.ajax-progress-fullscreen::before {
  animation: surface-throbber 0.75s linear infinite;
  border-style: solid dotted solid solid;
  border-color: hsl(var(--blue-5)) transparent hsl(var(--blue-5)) hsl(var(--blue-5));
  border-radius: var(--radius-round);
}

.button:not(.js-hide) + .ajax-progress-throbber {
  margin-inline-start: 0;
}

@keyframes surface-throbber {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
