/**
 * @file
 * Styles for tabledrag.
 */

.draggable:hover {
  background-color: hsl(var(--gray-1));
}

.draggable.drag {
  background-color: hsl(var(--gray-2));
}

.draggable.drag-previous {
  background-color: hsl(var(--gray-3));
}

.drag-previous a {
  color: hsl(var(--gray-8)); /* Ensure proper contrast. */
}

a.tabledrag-handle,
.touchevents a.tabledrag-handle {
  height: 36px;
  width: 36px;
}

.draggable a.tabledrag-handle {
  margin-inline-start: 0;
}

a.tabledrag-handle .handle {
  background-position: 50% 5px;
  height: var(--size-4);
  margin: 0;
  width: var(--size-4);
}

.touchevents a.tabledrag-handle .handle {
  background-position: 50% 5px;
  height: var(--size-4);
}

.touchevents .draggable td {
  padding-block: var(--size-1);
  padding-inline-start: 0;
  padding-inline-end: var(--size-1);
}

.touchevents .draggable .menu-item__link {
  padding: 0;
}
